exportPattern("^[[:alpha:]]+")
importFrom("stats", "binomial")
importFrom("stats", "model.matrix")
importFrom("utils", "write.csv")
importFrom("SuperLearner", "predict.SuperLearner")
importFrom("SuperLearner", "SuperLearner")
importFrom("matlabr", "run_matlab_script")
import("SuperLearner")
import("glmnet")
import("testthat")
